<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.1" targetFramework="net452" />
  <package id="Enumeration" version="2.0.0" targetFramework="net452" />
  <package id="FiniteAutomata.Visualizer" version="1.2.0" targetFramework="net452" />
  <package id="lando.tanghe.Compiler.Automata" version="2.2.0" targetFramework="net452" />
</packages>